In [1]:
import pandas as pd
import os

In [2]:
os.chdir('/Users/alisdghnia/Desktop/School - Graduate/Advanced Database Management - Spring 2023/Final Project')

In [3]:
df = pd.read_csv('rich_list_clean.csv')
df

,rank,ticker,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency)
0,1,BTC,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,248597.0,1.18,0.0
1,1,BTC,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,178010.0,0.85,-20000.0
2,1,BTC,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,127351.0,0.61,0.0
3,1,BTC,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,119347.0,0.57,0.0
4,1,BTC,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,94643.0,0.45,0.0
...,...,...,...,...,...,...
1395,15,DAI,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,83585.0,0.06,0.0
1396,15,DAI,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,81127.0,0.05,0.0
1397,15,DAI,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,80383.0,0.05,-21110.0
1398,15,DAI,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,79464.0,0.05,-10.0
1399,15,DAI,0x3178aa92bf66355664c92684f1dcfe1857a873a3,78595.0,0.05,0.0

In [4]:
df_wallet = pd.read_csv('DIM_WALLET.csv')
df_wallet

                                            wallet_guid  ticker_id  wallet_id
0                    34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo      10001     100001
1     bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...      10001     100002
2                    3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ      10001     100003
3                    1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd      10001     100004
4            bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt      10001     100005
...                                                 ...        ...        ...
1395         0xc1f8fe4afed59e461cbea887c3a578076ffb707f      10014     101339
1396         0xb5714084eef0f02efdd145dfb3fe2e3290591d7b      10014     101340
1397         0x7b052756f8cb2fdcd9de2f1665d0d6648317346a      10014     101341
1398         0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32      10014     101342
1399         0x3178aa92bf66355664c92684f1dcfe1857a873a3      10014     101343

[1400 rows x 3 columns]

In [5]:
df = pd.merge(df, df_wallet, left_on='wallet_id', right_on='wallet_guid', how='left')
df

,rank,ticker,wallet_id_x,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),wallet_guid,ticker_id,wallet_id_y
0,1,BTC,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,248597.0,1.18,0.0,34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo,10001,100001
1,1,BTC,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,178010.0,0.85,-20000.0,bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...,10001,100002
2,1,BTC,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,127351.0,0.61,0.0,3JJmF63ifcamPLiAmLgG96RA599yNtY3EQ,10001,100003
3,1,BTC,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,119347.0,0.57,0.0,1LQoWist8KkaUXSPKZHNvEyfrEkPHzSsCd,10001,100004
4,1,BTC,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,94643.0,0.45,0.0,bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt,10001,100005
...,...,...,...,...,...,...,...,...,...
1539,15,DAI,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,83585.0,0.06,0.0,0xc1f8fe4afed59e461cbea887c3a578076ffb707f,10014,101339
1540,15,DAI,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,81127.0,0.05,0.0,0xb5714084eef0f02efdd145dfb3fe2e3290591d7b,10014,101340
1541,15,DAI,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,80383.0,0.05,-21110.0,0x7b052756f8cb2fdcd9de2f1665d0d6648317346a,10014,101341
1542,15,DAI,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,79464.0,0.05,-10.0,0xcf2c181e33c5e9f72928c1e8975ff4a9bfe77e32,10014,101342
1543,15,DAI,0x3178aa92bf66355664c92684f1dcfe1857a873a3,78595.0,0.05,0.0,0x3178aa92bf66355664c92684f1dcfe1857a873a3,10014,101343

In [6]:
df.drop(columns=['wallet_id_x', 'wallet_guid', 'ticker_id'], inplace=True)
df

,rank,ticker,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),wallet_id_y
0,1,BTC,248597.0,1.18,0.0,100001
1,1,BTC,178010.0,0.85,-20000.0,100002
2,1,BTC,127351.0,0.61,0.0,100003
3,1,BTC,119347.0,0.57,0.0,100004
4,1,BTC,94643.0,0.45,0.0,100005
...,...,...,...,...,...,...
1539,15,DAI,83585.0,0.06,0.0,101339
1540,15,DAI,81127.0,0.05,0.0,101340
1541,15,DAI,80383.0,0.05,-21110.0,101341
1542,15,DAI,79464.0,0.05,-10.0,101342
1543,15,DAI,78595.0,0.05,0.0,101343

In [7]:
df.drop(columns= ['rank', 'ticker'], inplace=True)
df

,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency),wallet_id_y
0,248597.0,1.18,0.0,100001
1,178010.0,0.85,-20000.0,100002
2,127351.0,0.61,0.0,100003
3,119347.0,0.57,0.0,100004
4,94643.0,0.45,0.0,100005
...,...,...,...,...
1539,83585.0,0.06,0.0,101339
1540,81127.0,0.05,0.0,101340
1541,80383.0,0.05,-21110.0,101341
1542,79464.0,0.05,-10.0,101342
1543,78595.0,0.05,0.0,101343

In [8]:
# bring wallet_id_y to the front
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,wallet_id_y,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency)
0,100001,248597.0,1.18,0.0
1,100002,178010.0,0.85,-20000.0
2,100003,127351.0,0.61,0.0
3,100004,119347.0,0.57,0.0
4,100005,94643.0,0.45,0.0
...,...,...,...,...
1539,101339,83585.0,0.06,0.0
1540,101340,81127.0,0.05,0.0
1541,101341,80383.0,0.05,-21110.0
1542,101342,79464.0,0.05,-10.0
1543,101343,78595.0,0.05,0.0

In [9]:
df.columns = ['wallet_id', 'currency_quantity (cryptocurrency)', 'fraction_of_total (%)', 'seven_day_change (cryptocurrency)']
df

,wallet_id,currency_quantity (cryptocurrency),fraction_of_total (%),seven_day_change (cryptocurrency)
0,100001,248597.0,1.18,0.0
1,100002,178010.0,0.85,-20000.0
2,100003,127351.0,0.61,0.0
3,100004,119347.0,0.57,0.0
4,100005,94643.0,0.45,0.0
...,...,...,...,...
1539,101339,83585.0,0.06,0.0
1540,101340,81127.0,0.05,0.0
1541,101341,80383.0,0.05,-21110.0
1542,101342,79464.0,0.05,-10.0
1543,101343,78595.0,0.05,0.0

In [10]:
df.to_csv('RICH_LIST.csv', index=False)